[submodule "src/postgresql_modified_for_babelfish"]
	path = src/postgresql_modified_for_babelfish
	url = https://github.com/wiltondb/postgresql_modified_for_babelfish.git
[submodule "src/babelfish_extensions_modified_for_wiltondb"]
	path = src/babelfish_extensions_modified_for_wiltondb
	url = https://github.com/wiltondb/babelfish_extensions_modified_for_wiltondb.git
[submodule "src/pg_hint_plan"]
	path = src/pg_hint_plan
	url = https://github.com/wiltondb/pg_hint_plan.git
[submodule "packages/wdb_el_rpm"]
	path = packages/wdb_el_rpm
	url = https://github.com/wiltondb/wdb_el_rpm.git
[submodule "packages/wdb_fedora_rpm"]
	path = packages/wdb_fedora_rpm
	url = https://github.com/wiltondb/wdb_fedora_rpm.git
[submodule "packages/wdb_ubuntu_deb"]
	path = packages/wdb_ubuntu_deb
	url = https://github.com/wiltondb/wdb_ubuntu_deb.git
[submodule "tools/wdb_config"]
	path = tools/wdb_config
	url = https://github.com/wiltondb/wdb_config.git
