[submodule "src/postgresql_modified_for_babelfish"]
	path = src/postgresql_modified_for_babelfish
	url = https://github.com/wiltondb/postgresql_modified_for_babelfish.git
[submodule "src/pg_hint_plan"]
	path = src/pg_hint_plan
	url = https://github.com/wiltondb/pg_hint_plan.git
[submodule "packages/wdb_el_rpm"]
	path = packages/wdb_el_rpm
	url = https://github.com/wiltondb/wdb_el_rpm.git
[submodule "packages/wdb_fedora_rpm"]
	path = packages/wdb_fedora_rpm
	url = https://github.com/wiltondb/wdb_fedora_rpm.git
[submodule "packages/wdb_ubuntu_deb"]
	path = packages/wdb_ubuntu_deb
	url = https://github.com/wiltondb/wdb_ubuntu_deb.git
[submodule "tools/wdb_config"]
	path = tools/wdb_config
	url = https://github.com/wiltondb/wdb_config.git
[submodule "src/babelfish_extensions"]
	path = src/babelfish_extensions
	url = https://github.com/wiltondb/babelfish_extensions.git
[submodule "packages/wdb_windows_msi"]
	path = packages/wdb_windows_msi
	url = https://github.com/wiltondb/wdb_windows_msi.git
[submodule "src/tds_fdw"]
	path = src/tds_fdw
	url = https://github.com/wiltondb/tds_fdw.git
